.nave{
    color: blue;
}

.nave li a{ 
    color:rosybrown;
}

.foto img{
    width: 100%;
}

body{
    background-color: blueviolet;
}

nav ul li{
    display: inline; 
    position: relative;
    margin-left: 50px;
}

.btn{

    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
}
